<a href="https://colab.research.google.com/github/Nyakiamo-Samuel/CAR-WASH/blob/main/Car_Wash_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import re
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sb
sb.set_theme(style='darkgrid')
import warnings
warnings.filterwarnings('ignore')

In [ ]:
car_wash=pd.ExcelFile('CAR WASH RECORDS REVISED.xlsx')

In [ ]:
for sheet_name in car_wash.sheet_names:
    data=pd.read_excel(car_wash, sheet_name)
    data.to_csv(f'{sheet_name}.csv', index=False)

In [ ]:
data

,DATE,CAR IDENTIFICATION,Unnamed: 2,AMOUNT,CODE,STATUS,BALANCE,RESPONSIBILITY
0,2024-01-11 00:00:00,KDB 647W PRADO,NORMAL WASH,300.0,MPESA,PAID,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-02-11 00:00:00,KCR 330Z COLT SK21D4ZU6X,NORMAL WASH,300.0,MPESA,PAID,NaN,MUTUA
3,NaN,KCR 006K PRADO,NORMAL WASH,300.0,NaN,UNPAID,NaN,STEVE
4,NaN,KDR 709N SIENTA,NORMAL WASH,300.0,MPESA,PAID,NaN,STEVE
...,...,...,...,...,...,...,...,...
125,NaN,KCG 369B HARRIER,NORMAL WASH,300.0,NaN,NaN,NaN,NaN
126,NaN,KDP 115T LANDCRUISER,WASH & VACUUM,600.0,NaN,NaN,NaN,NaN
127,NaN,KBP 134L HONDA,NORMAL WASH,300.0,NaN,NaN,NaN,NaN
128,NaN,KBW 667G MARK X,NORMAL WASH,300.0,NaN,NaN,NaN,NaN
129,NaN,KCD 696C BENZ,NORMAL WASH,300.0,NaN,NaN,NaN,NaN

In [ ]:
aug=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project/Excel/August1.csv')
aug

,DATE,CAR IDENTIFICATION,SERVICE,AMOUNT,CODE,NOT PAID,BALANCE,ADDITIONAL SERVICE,RESPONSIBILITY,Unnamed: 9
0,09/08/2024,KCY 688Y COLT,WASH AND VACUUM,600,MPESA,PAID,NaN,NaN,NaN,NaN
1,09/08/2024,KAY 419 FORRESTER,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN
2,09/08/2024,KCH 178G LEXUS,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN
3,09/08/2024,KDL 274X ISUZU,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN
4,09/08/2024,KBA 128G BENZ,WASH AND VACUUM,400,CASH,PAID,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
119,31/08/2031,KDB 647W PRADO,NORMAL WASH,400,MPESA,PAID,NaN,NaN,NaN,NaN
120,31/08/2032,KCW 996F HONDA,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN
121,31/08/2033,KCD 088P HARRIER,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN
122,31/08/2034,KDQ 604R DEMIO,NORMAL WASH,500,MPESA,PAID,NaN,NaN,NaN,NaN
123,31/08/2035,KCA 320A BMW,NORMAL WASH,300,CASH,PAID,NaN,NaN,NaN,NaN

In [ ]:
aug.shape

(124, 10)

In [ ]:
aug.columns

Index(['DATE', 'CAR IDENTIFICATION', 'SERVICE', 'AMOUNT', 'CODE', 'NOT PAID',
       'BALANCE', 'ADDITIONAL SERVICE', 'RESPONSIBILITY', 'Unnamed: 9'],
      dtype='object')

In [ ]:
aug.rename(columns={'NOT PAID':'STATUS'}, inplace=True)

In [ ]:
aug.drop('Unnamed: 9', axis=1, inplace=True)

In [ ]:
aug.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATE                124 non-null    object
 1   CAR IDENTIFICATION  124 non-null    object
 2   SERVICE             122 non-null    object
 3   AMOUNT              121 non-null    object
 4   CODE                113 non-null    object
 5   STATUS              123 non-null    object
 6   BALANCE             6 non-null      object
 7   ADDITIONAL SERVICE  8 non-null      object
 8   RESPONSIBILITY      17 non-null     object
dtypes: object(9)
memory usage: 8.8+ KB

In [ ]:
sept=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project/Excel/September1.csv')
sept

,DATE,CAR IDENTIFICATION,SERVICE,AMOUNT,CODE,STATUS,BALANCE,ADDITIONAL SERVICE,RESPONSIBILITY,NORMAL,Unnamed: 10,Unnamed: 11
0,02/09/2024,KCH 344D MERCEDES,WASH AND VACUUM,600,MPESA,PAID,NaN,NaN,NaN,NaN,NaN,NaN
1,02/09/2024,GKA 955R MERCEDES,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN,NaN,NaN
2,02/09/2024,KCV 989S MERCEDES,NORMAL WASH,300,MPESA,PAID,NaN,NaN,SERVICE INCLUSIVE,NaN,NaN,NaN
3,02/09/2024,KCY 688F COLT,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN,NaN,NaN
4,02/09/2024,KCR 330Z COLT,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
181,30/09/2024,KDP 911E BENZ,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN,NaN,NaN
182,30/09/2024,KBZ 052W NISSAN PATROL,NORMAL WASH,4000,MPESA,PAID,NaN,NaN,NaN,NaN,NaN,NaN
183,30/09/2024,KDE 980V GOLF,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN,NaN,NaN
184,30/09/2024,KUU 111 R.R,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN,NaN,NaN
185,30/09/2024,KBX 273Y LEXUS,ENGINE WATER WASH,300,NaN,PAID,NaN,NaN,STEVE,NaN,NaN,NaN

In [ ]:
sept.shape

(186, 12)

In [ ]:
sept.columns

Index(['DATE', 'CAR IDENTIFICATION', 'SERVICE', 'AMOUNT', 'CODE', 'STATUS',
       'BALANCE', 'ADDITIONAL SERVICE', 'RESPONSIBILITY', 'NORMAL',
       'Unnamed: 10', 'Unnamed: 11'],
      dtype='object')

In [ ]:
sept.drop(['Unnamed: 10', 'Unnamed: 11'], axis=1, inplace=True)

In [ ]:
sept.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATE                186 non-null    object
 1   CAR IDENTIFICATION  186 non-null    object
 2   SERVICE             185 non-null    object
 3   AMOUNT              161 non-null    object
 4   CODE                138 non-null    object
 5   STATUS              182 non-null    object
 6   BALANCE             26 non-null     object
 7   ADDITIONAL SERVICE  3 non-null      object
 8   RESPONSIBILITY      47 non-null     object
 9   NORMAL              10 non-null     object
dtypes: object(10)
memory usage: 14.7+ KB

In [ ]:
oct=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Project/Excel/October1.csv")
oct

,DATE,CAR IDENTIFICATION,SERVICE,AMOUNT,CODE,STATUS,BALANCE,ADDITIONAL SERVICE,RESPONSIBILITY,Normal
0,10/01/2024,KDP 330S MERCEDES,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN
1,10/01/2024,KAX 577J COROLLA,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN
2,10/01/2024,KCR 330Z COLTT,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN
3,10/01/2024,CARPET,NORMAL WASH,"2,700.00",CASH,PAID,NaN,NaN,NaN,ANTHONY RECEIVED CASH
4,10/01/2024,KDP 911E MERCEDES,NORMAL WASH,300,MPESA,PAID,NaN,NaN,SERVICE INCLUSIVE,NaN
...,...,...,...,...,...,...,...,...,...,...
190,10/31/2024,KBS 154M TOYOTA,NORMAL WASH,300,NaN,PAID,NaN,NaN,STEVE,NaN
191,10/31/2024,KDP 574D FORRESTER,NORMAL WASH,300,MPESA,PAID,NaN,NaN,STEVE,NaN
192,10/31/2024,KBS 149M IST,NORMAL WASH,300,NaN,PAID,NaN,NaN,STEVE,NaN
193,10/31/2024,KAU 240J IMPREZZA(GS8),ENGINE WATER WASH,300,NaN,UNPAID,NaN,NaN,MUTUA,NaN
194,10/31/2024,KBX 580Q MERCEDES,WASH AND ENGINE,600,NaN,PAID,NaN,NaN,STEVE,NaN

In [ ]:
oct.shape

(195, 10)

In [ ]:
oct.columns

Index(['DATE', 'CAR IDENTIFICATION', 'SERVICE', 'AMOUNT', 'CODE', 'STATUS',
       'BALANCE', 'ADDITIONAL SERVICE', 'RESPONSIBILITY', 'Normal'],
      dtype='object')

In [ ]:
oct.rename(columns={'Normal':'NORMAL'}, inplace=True)

In [ ]:
oct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATE                195 non-null    object
 1   CAR IDENTIFICATION  195 non-null    object
 2   SERVICE             194 non-null    object
 3   AMOUNT              155 non-null    object
 4   CODE                146 non-null    object
 5   STATUS              195 non-null    object
 6   BALANCE             42 non-null     object
 7   ADDITIONAL SERVICE  9 non-null      object
 8   RESPONSIBILITY      111 non-null    object
 9   NORMAL              9 non-null      object
dtypes: object(10)
memory usage: 15.4+ KB

In [ ]:
nov=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Project/Excel/November1.csv")
nov

,DATE,CAR IDENTIFICATION,Unnamed: 2,AMOUNT,CODE,STATUS,BALANCE,RESPONSIBILITY,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,01/11/2024,KDB 647W PRADO,NORMAL WASH,300.00,MPESA,PAID,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02/11/2024,KCR 330Z COLT SK21D4ZU6X,NORMAL WASH,300.00,MPESA,PAID,NaN,MUTUA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02/11/2024,KCR 006K PRADO,NORMAL WASH,300.00,NaN,UNPAID,NaN,STEVE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/11/2024,KDR 709N SIENTA,NORMAL WASH,300.00,MPESA,PAID,NaN,STEVE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,02/11/2024,KDP 572M LANDCRUISER,NORMAL WASH,300.00,NaN,UNPAID,NaN,STEVE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
nov.shape

(980, 24)

In [ ]:
nov.columns

Index(['DATE', 'CAR IDENTIFICATION', 'Unnamed: 2', 'AMOUNT', 'CODE', 'STATUS',
       'BALANCE', 'RESPONSIBILITY', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [ ]:
nov.rename(columns={'Unnamed: 2':'SERVICE'}, inplace=True)

In [ ]:
nov.drop(['Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23'], axis=1, inplace=True)

In [ ]:
nov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATE                111 non-null    object
 1   CAR IDENTIFICATION  111 non-null    object
 2   SERVICE             111 non-null    object
 3   AMOUNT              111 non-null    object
 4   CODE                78 non-null     object
 5   STATUS              100 non-null    object
 6   BALANCE             6 non-null      object
 7   RESPONSIBILITY      101 non-null    object
dtypes: object(8)
memory usage: 61.4+ KB

In [ ]:
nov.drop(nov.index[111:], inplace=True)

In [ ]:
nov

,DATE,CAR IDENTIFICATION,SERVICE,AMOUNT,CODE,STATUS,BALANCE,RESPONSIBILITY
0,01/11/2024,KDB 647W PRADO,NORMAL WASH,300.00,MPESA,PAID,NaN,NaN
1,02/11/2024,KCR 330Z COLT SK21D4ZU6X,NORMAL WASH,300.00,MPESA,PAID,NaN,MUTUA
2,02/11/2024,KCR 006K PRADO,NORMAL WASH,300.00,NaN,UNPAID,NaN,STEVE
3,02/11/2024,KDR 709N SIENTA,NORMAL WASH,300.00,MPESA,PAID,NaN,STEVE
4,02/11/2024,KDP 572M LANDCRUISER,NORMAL WASH,300.00,NaN,UNPAID,NaN,STEVE
...,...,...,...,...,...,...,...,...
106,23/11/2024,KCG 369B HARRIER,NORMAL WASH,300,NaN,NaN,NaN,NaN
107,23/11/2024,KDP 115T LANDCRUISER,WASH & VACUUM,600,NaN,NaN,NaN,NaN
108,23/11/2024,KBP 134L HONDA,NORMAL WASH,300,NaN,NaN,NaN,NaN
109,23/11/2024,KBW 667G MARK X,NORMAL WASH,300,NaN,NaN,NaN,NaN
110,23/11/2024,KCD 696C BENZ,NORMAL WASH,300,NaN,NaN,NaN,NaN

In [ ]:
nov.shape

(111, 8)

In [ ]:
dec=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Project/Excel/December.csv")
dec

,DATE,CAR IDENTIFICATION,TYPE OF SERVICE,AMOUNT,CODE,STATUS,BALANCE,RESPONSIBILITY,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,1.12.2024,KCN 037X Landcruiser,NORMAL WASH,300.0,SL11SC2G7B,PAID,NaN,FELIX,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.12.2024,KDN 055C Subaru,NORMAL WASH,300.0,SL19TMSPO1,PAID,NaN,FELIX,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.12.2024,KCS 807V Audi Q7,NORMAL WASH,300.0,SL26YB4FFM,PAID,NaN,MUTUA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.12.2024,KDH 278H Landcruiser,NORMAL WASH,300.0,SL23XMNRVH,PAID,NaN,MUTUA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.12.2024,KDB 286J Landcruiser,NORMAL WASH,300.0,SL29X7OTCJ,PAID,NaN,MUTUA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dec.columns

Index(['DATE', 'CAR IDENTIFICATION', 'TYPE OF SERVICE', 'AMOUNT', 'CODE',
       'STATUS', 'BALANCE', 'RESPONSIBILITY', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26'],
      dtype='object')

In [ ]:
dec.drop(['Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26'], axis=1, inplace=True)
dec

,DATE,CAR IDENTIFICATION,TYPE OF SERVICE,AMOUNT,CODE,STATUS,BALANCE,RESPONSIBILITY
0,1.12.2024,KCN 037X Landcruiser,NORMAL WASH,300.0,SL11SC2G7B,PAID,NaN,FELIX
1,1.12.2024,KDN 055C Subaru,NORMAL WASH,300.0,SL19TMSPO1,PAID,NaN,FELIX
2,2.12.2024,KCS 807V Audi Q7,NORMAL WASH,300.0,SL26YB4FFM,PAID,NaN,MUTUA
3,2.12.2024,KDH 278H Landcruiser,NORMAL WASH,300.0,SL23XMNRVH,PAID,NaN,MUTUA
4,2.12.2024,KDB 286J Landcruiser,NORMAL WASH,300.0,SL29X7OTCJ,PAID,NaN,MUTUA
...,...,...,...,...,...,...,...,...
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATE                125 non-null    object
 1   CAR IDENTIFICATION  125 non-null    object
 2   TYPE OF SERVICE     124 non-null    object
 3   AMOUNT              124 non-null    float64
 4   CODE                119 non-null    object
 5   STATUS              120 non-null    object
 6   BALANCE             0 non-null      float64
 7   RESPONSIBILITY      90 non-null     object
dtypes: float64(2), object(6)
memory usage: 9.1+ KB

In [ ]:
dec.rename(columns={'TYPE OF SERVICE':'SERVICE'}, inplace=True)

In [ ]:
dec.drop(dec.index[125:], inplace=True)

In [ ]:
dec

,DATE,CAR IDENTIFICATION,SERVICE,AMOUNT,CODE,STATUS,BALANCE,RESPONSIBILITY
0,1.12.2024,KCN 037X Landcruiser,NORMAL WASH,300.0,SL11SC2G7B,PAID,NaN,FELIX
1,1.12.2024,KDN 055C Subaru,NORMAL WASH,300.0,SL19TMSPO1,PAID,NaN,FELIX
2,2.12.2024,KCS 807V Audi Q7,NORMAL WASH,300.0,SL26YB4FFM,PAID,NaN,MUTUA
3,2.12.2024,KDH 278H Landcruiser,NORMAL WASH,300.0,SL23XMNRVH,PAID,NaN,MUTUA
4,2.12.2024,KDB 286J Landcruiser,NORMAL WASH,300.0,SL29X7OTCJ,PAID,NaN,MUTUA
...,...,...,...,...,...,...,...,...
120,20.12.2024,KCL 680Y Forester,NORMAL WASH,300.0,SLK86RV7Y8,PAID,NaN,NaN
121,20.12.2024,KCD 385F Nissan Navada,NORMAL WASH,300.0,SLK874K4TO,PAID,NaN,NaN
122,20.12.2024,KBA 128C Mercedes,NORMAL WASH,300.0,NaN,NaN,NaN,NaN
123,20.12.2024,KDN 093D Isuzu,NORMAL WASH,300.0,NaN,NaN,NaN,NaN
124,20.12.2024,KCR 110U Golf,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
car_wash=pd.concat((aug,sept, oct, nov, dec), ignore_index=True )
car_wash

,DATE,CAR IDENTIFICATION,SERVICE,AMOUNT,CODE,STATUS,BALANCE,ADDITIONAL SERVICE,RESPONSIBILITY,NORMAL
0,09/08/2024,KCY 688Y COLT,WASH AND VACUUM,600,MPESA,PAID,NaN,NaN,NaN,NaN
1,09/08/2024,KAY 419 FORRESTER,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN
2,09/08/2024,KCH 178G LEXUS,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN
3,09/08/2024,KDL 274X ISUZU,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN
4,09/08/2024,KBA 128G BENZ,WASH AND VACUUM,400,CASH,PAID,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
736,20.12.2024,KCL 680Y Forester,NORMAL WASH,300.0,SLK86RV7Y8,PAID,NaN,NaN,NaN,NaN
737,20.12.2024,KCD 385F Nissan Navada,NORMAL WASH,300.0,SLK874K4TO,PAID,NaN,NaN,NaN,NaN
738,20.12.2024,KBA 128C Mercedes,NORMAL WASH,300.0,NaN,NaN,NaN,NaN,NaN,NaN
739,20.12.2024,KDN 093D Isuzu,NORMAL WASH,300.0,NaN,NaN,NaN,NaN,NaN,NaN
740,20.12.2024,KCR 110U Golf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
car_wash.shape

(741, 10)

In [ ]:
car_wash.reset_index(inplace=True)
car_wash.head()

AttributeError: 'NoneType' object has no attribute 'astype'

In [ ]:
car_wash.columns

Index(['index', 'DATE', 'CAR IDENTIFICATION', 'SERVICE', 'AMOUNT', 'CODE',
       'STATUS', 'BALANCE', 'ADDITIONAL SERVICE', 'RESPONSIBILITY', 'NORMAL'],
      dtype='object')

In [ ]:
car_wash.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               741 non-null    int64
 1   DATE                741 non-null    object
 2   CAR IDENTIFICATION  741 non-null    object
 3   SERVICE             736 non-null    object
 4   AMOUNT              672 non-null    object
 5   CODE                594 non-null    object
 6   STATUS              720 non-null    object
 7   BALANCE             80 non-null     object
 8   ADDITIONAL SERVICE  20 non-null     object
 9   RESPONSIBILITY      366 non-null    object
 10  NORMAL              19 non-null     object
dtypes: int64(1), object(10)
memory usage: 63.8+ KB

In [ ]:
car_wash.duplicated().sum()

0

In [ ]:
car_wash["DATE"] = pd.to_datetime(car_wash["DATE"], errors='ignore', format='%d%m%y', yearfirst=False)
print(car_wash["DATE"])

0      09/08/2024
1      09/08/2024
2      09/08/2024
3      09/08/2024
4      09/08/2024
          ...
736    20.12.2024
737    20.12.2024
738    20.12.2024
739    20.12.2024
740    20.12.2024
Name: DATE, Length: 741, dtype: object

In [ ]:
car_wash.replace('-', '', regex=True, inplace=True)
car_wash.replace('', np.nan, regex=True, inplace=True)
#car_wash.replace('\s+', np.nan, regex=True, inplace=True)

In [ ]:
car_wash

,level_0,index,DATE,CAR IDENTIFICATION,SERVICE,AMOUNT,CODE,STATUS,BALANCE,ADDITIONAL SERVICE,RESPONSIBILITY,NORMAL
0,0,0,09/08/2024,KCY 688Y COLT,WASH AND VACUUM,600,MPESA,PAID,NaN,NaN,NaN,NaN
1,1,1,09/08/2024,KAY 419 FORRESTER,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN
2,2,2,09/08/2024,KCH 178G LEXUS,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN
3,3,3,09/08/2024,KDL 274X ISUZU,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN
4,4,4,09/08/2024,KBA 128G BENZ,WASH AND VACUUM,400,CASH,PAID,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
736,736,736,20.12.2024,KCL 680Y Forester,NORMAL WASH,300.0,SLK86RV7Y8,PAID,NaN,NaN,NaN,NaN
737,737,737,20.12.2024,KCD 385F Nissan Navada,NORMAL WASH,300.0,SLK874K4TO,PAID,NaN,NaN,NaN,NaN
738,738,738,20.12.2024,KBA 128C Mercedes,NORMAL WASH,300.0,NaN,NaN,NaN,NaN,NaN,NaN
739,739,739,20.12.2024,KDN 093D Isuzu,NORMAL WASH,300.0,NaN,NaN,NaN,NaN,NaN,NaN
740,740,740,20.12.2024,KCR 110U Golf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
car_wash.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               741 non-null    int64
 1   DATE                741 non-null    object
 2   CAR IDENTIFICATION  741 non-null    object
 3   SERVICE             736 non-null    object
 4   AMOUNT              672 non-null    object
 5   CODE                561 non-null    object
 6   STATUS              720 non-null    object
 7   BALANCE             80 non-null     object
 8   ADDITIONAL SERVICE  20 non-null     object
 9   RESPONSIBILITY      366 non-null    object
 10  NORMAL              19 non-null     object
dtypes: int64(1), object(10)
memory usage: 63.8+ KB

In [ ]:
new_reg=car_wash['CAR IDENTIFICATION'].str.extract('(\w+)\s+(\w+)\s+(\w+)', expand=True).rename(columns={0:'Reg', 1:'Reg_num', 2:'Model'})
new_reg

     Reg Reg_num      Model
0    KCY    688Y       COLT
1    KAY     419  FORRESTER
2    KCH    178G      LEXUS
3    KDL    274X      ISUZU
4    KBA    128G       BENZ
..   ...     ...        ...
736  KCL    680Y   Forester
737  KCD    385F     Nissan
738  KBA    128C   Mercedes
739  KDN    093D      Isuzu
740  KCR    110U       Golf

[741 rows x 3 columns]

In [ ]:
new_reg.isnull().value_counts()

Reg    Reg_num  Model
False  False    False    680
True   True     True      61
Name: count, dtype: int64

In [ ]:
list_=['Reg', 'Reg_num', 'Model']
new_reg[list_]=new_reg[list_].astype(str)

In [ ]:
new_reg["car_reg"]=new_reg['Reg'].str.cat(new_reg['Reg_num'], sep=' ')
new_reg.drop(['Reg', 'Reg_num'], axis=1, inplace=True)
print(new_reg.info())
new_reg

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Model    741 non-null    object
 1   car_reg  741 non-null    object
dtypes: object(2)
memory usage: 11.7+ KB
None

         Model   car_reg
0         COLT  KCY 688Y
1    FORRESTER   KAY 419
2        LEXUS  KCH 178G
3        ISUZU  KDL 274X
4         BENZ  KBA 128G
..         ...       ...
736   Forester  KCL 680Y
737     Nissan  KCD 385F
738   Mercedes  KBA 128C
739      Isuzu  KDN 093D
740       Golf  KCR 110U

[741 rows x 2 columns]

In [ ]:
car_wash_1=pd.concat((car_wash, new_reg), axis=1).drop("CAR IDENTIFICATION", axis=1)
car_wash_1

,level_0,index,DATE,SERVICE,AMOUNT,CODE,STATUS,BALANCE,ADDITIONAL SERVICE,RESPONSIBILITY,NORMAL,Model,car_reg
0,0,0,09/08/2024,WASH AND VACUUM,600,MPESA,PAID,NaN,NaN,NaN,NaN,COLT,KCY 688Y
1,1,1,09/08/2024,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN,FORRESTER,KAY 419
2,2,2,09/08/2024,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN,LEXUS,KCH 178G
3,3,3,09/08/2024,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN,ISUZU,KDL 274X
4,4,4,09/08/2024,WASH AND VACUUM,400,CASH,PAID,NaN,NaN,NaN,NaN,BENZ,KBA 128G
...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,736,736,20.12.2024,NORMAL WASH,300.0,SLK86RV7Y8,PAID,NaN,NaN,NaN,NaN,Forester,KCL 680Y
737,737,737,20.12.2024,NORMAL WASH,300.0,SLK874K4TO,PAID,NaN,NaN,NaN,NaN,Nissan,KCD 385F
738,738,738,20.12.2024,NORMAL WASH,300.0,NaN,NaN,NaN,NaN,NaN,NaN,Mercedes,KBA 128C
739,739,739,20.12.2024,NORMAL WASH,300.0,NaN,NaN,NaN,NaN,NaN,NaN,Isuzu,KDN 093D
740,740,740,20.12.2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Golf,KCR 110U

In [ ]:
car_wash_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               741 non-null    int64
 1   DATE                741 non-null    object
 2   SERVICE             736 non-null    object
 3   AMOUNT              672 non-null    object
 4   CODE                561 non-null    object
 5   STATUS              720 non-null    object
 6   BALANCE             80 non-null     object
 7   ADDITIONAL SERVICE  20 non-null     object
 8   RESPONSIBILITY      366 non-null    object
 9   NORMAL              19 non-null     object
 10  Model               741 non-null    object
 11  car_reg             741 non-null    object
dtypes: int64(1), object(11)
memory usage: 69.6+ KB

In [ ]:
garage_col=list(car_wash_1.columns)
garage_col

['level_0',
 'index',
 'DATE',
 'SERVICE',
 'AMOUNT',
 'CODE',
 'STATUS',
 'BALANCE',
 'ADDITIONAL SERVICE',
 'RESPONSIBILITY',
 'NORMAL',
 'Model',
 'car_reg']

In [ ]:
for i in garage_col:
    _unique=car_wash_1[i].unique()
    n_unique=car_wash_1[i].nunique()
    print('{0} has {2} number of unique items which are: {1} \n'.format(i, _unique, n_unique))

#car_wash_1['ADDITIONAL SERVICE'].unique()

level_0 has 741 number of unique items which are: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740]

index has 741 number of unique items which are: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740]

DATE has 197 number of unique items which are: ['09/08/2024' '10/08/2024' '11/08/2024' '12/08/2024' '13/08/2024'
 '13/08/2025' '13/08/2026' '13/08/2027' '13/08/2028' '13/08/2029'
 '13/08/2030' '13/08/2031' '14/08/2024' '14/08/2025' '15/08/2024'
 '15/08/2025' '15/08/2026' '15/08/2027' '15/08/2028' '16/08/2024'
 '16/08/2025' '16/08/2026' '16/08/2027' '16/08/2028' '16/08/2029'
 '16/08/2030' '17/08/2024' '17/08/2025' '17/08/2026' '17/08/2027'
 '17/08/2028' '17/08/2029' '19/08/2024' '19/08/2025' '20/08/2024'
 '20/08/2025' '20/08/2026' '20/08/2027' '20/08/2028' '21/08/2024'
 '21/08/2025' '21/08/2026' '21/08/2027' '21/08/2028' '22/08/2024'
 '22/08/2025' '22/08/2026' '22/08/2027' '22/08/2028' '23/08/2024'
 '23/08/2025' '23/08/2026' '24/08/2024' '24/08/2025' '24/08/2026'
 '24/08/2027' '24/08/2028' '24/08/2029' '24/08/2030' '24/08/2031'
 '25/08/2024' '25/08/2025' '26/08/2024' '26/08/2025' '26/08/2026'
 '26/08/2027' '26/08/2028' '27/08/2024' '27/08/2025' '27/08/2026'
 '27/08/2027' '27/08/2028' '27/08/2029' '27/08/2030' '27/08/2031'
 '27/08/2032' '27/08/2033' '27/08/2034' '27/08/2035' '27/08/2036'
 '28/08/2025' '28/08/2026' '28/08/2027' '28/08/2028' '28/08/2029'
 '28/08/2030' '28/08/2031' '28/08/2032' '28/08/2033' '29/08/2025'
 '29/08/2026' '29/08/2027' '29/08/2028' '29/08/2029' '29/08/2030'
 '29/08/2031' '30/08/2025' '30/08/2026' '30/08/2027' '30/08/2028'
 '30/08/2029' '31/08/2025' '31/08/2026' '31/08/2027' '31/08/2028'
 '31/08/2029' '31/08/2030' '31/08/2031' '31/08/2032' '31/08/2033'
 '31/08/2034' '31/08/2035' '02/09/2024' '03/09/2024' '04/09/2024'
 '05/09/2024' '06/09/2024' '07/09/2024' '09/09/2024' '10/09/2024'
 '11/09/2024' '12/09/2024' '13/09/2024' '14/09/2024' '15/09/2024'
 '17/09/2024' '18/09/2024' '19/09/2024' '20/09/2024' '21/09/2024'
 '23/09/2024' '24/09/2024' '25/09/2024' '27/09/2024' '28/09/2024'
 '30/09/2024' '10/01/2024' '10/02/2024' '10/03/2024' '10/04/2024'
 '10/05/2024' '10/07/2024' '10/10/2024' '10/11/2024' '10/12/2024'
 '10/14/2024' '10/15/2024' '10/16/2024' '10/17/2024' '10/18/2024'
 '10/19/2024' '10/21/2024' '10/22/2024' '10/23/2024' '10/24/2024'
 '10/25/2024' '10/26/2024' '10/28/2024' '10/29/2024' '10/30/2024'
 '10/31/2024' '01/11/2024' '02/11/2024' '03/11/2024' '05/11/2024'
 '11/06/2024' '11/07/2024' '11/11/2024' '12/11/2024' '13/11/2024'
 '14/11/2024' '15/11/2024' '16/11/2024' '18/11/2024' '19/11/2024'
 '20/11/2024' '21/11/2024' '22/11/2024' '23/11/2024' '1.12.2024'
 '2.12.2024' '3.12.2024' '4.12.2024' '5.12.2024' '6.12.2024' '7.12.2024'
 '9.12.2024' '10.12.2024' '11.12.2024' '12.12.2024' '13.12.2024'
 '14.12.2024' '16.12.2024' '17.12.2024' '18.12.2024' '19.12.2024'
 '20.12.2024']

SERVICE has 17 number of unique items which are: ['WASH AND VACUUM' 'NORMAL WASH' 'ENGINE WATER WASH'
 'WASH AND VACUUM AND ENGINE' 'WASH AND ENGINE' nan 'RIM POLISH'
 'CARPET WASH' 'BODY WASH' 'BODY WASH & VACUUM' 'ENGINE WASH'
 'BODYWASH & ENGINE' 'BODY & ENGINE WASH' 'VACUUM & BODY WASH'
 'WASH & VACUUM' 'WASH, VACUUM & ENGINE' 'WASH & ENGINE' 'RIM WASH']

AMOUNT has 34 number of unique items which are: ['600' '300' '400' '800' '500' '1,000.00' '1,300.00' '1,100.00' '3,000.00'
 '200' '    ' '150' '2,300.00' '2,000.00' nan '700' '1,500.00' '3,500.00'
 '4000' '2,700.00' '100' '900' '300.00' '200.00' '600.00' '400.00'
 '500.00' 300.0 600.0 100.0 200.0 400.0 2000.0 700.0 1000.0]

CODE has 74 number of unique items which are: ['MPESA' 'CASH' nan 'SL11SC2G7B' 'SL19TMSPO1' 'SL26YB4FFM' 'SL23XMNRVH'
 'SL29X7OTCJ' 'SL27XN907Z' 'SL20Y1WW06' 'SL405945F2' 'SL303CTYWK'
 'SL313M1HSZ' 'SL56CGTLYO' 'SL487KMH5W' 'SL599UBGLR' 'SL54AE3M9Q'
 'SL52BJFESA' 'SL50BS1C3U' 'SL58CAWGV2' 'SL68FUFKIU' 'SL79IVZL81'
 'SL79JX7029' 'SL79KIQ18L' 'SLC16HP0JT' 'SL73JA1931' 'SL73KHVFMX'
 'SL73KQI2L1' 'SL72LGYIEY' 'SL79LBO0P3' 'SLA7VYSWEB' 'SL97TBXKY5'
 'SL94U7ASYU' 'SL94TYW2WK' 'SLB91L3QOJ' 'SLA9XRUFQN' 'SLA9XU3OWR'
 'SLA0YHLZ26' 'SLB61KK31Q' 'SLD4DG5V54' 'SLC567CVX1' 'SLB945BL3P'
 'SLB63MA0JC' 'SLC76J3QXF' 'SLC67DACRW' 'SLC28CCZZK' 'SLC67ZUKL8'
 'SLC48C6EYA' 'SLC37QOLI7' 'SLC87KT4YO' 'SLD5B7C89X' 'SLB74JQTVD'
 'SLE1ETHOY3 ' 'SLE8F7W49Q' 'SLE6FJK250' 'SLH3RUUBVJ' 'SLE1G6SHBX'
 'SLE4GQVYJ8' 'INVOICED' 'SLE2GQ0V0O' 'SLE2GZFU42' 'SLE9GQF9MV'
 'SLJ4ZYSO8A' 'SLHIRRGNUX' 'SLH9S99ZD5' 'SLH3T08XKX' 'SLH5SZZ2CD'
 'SLI4X85NVO' 'SLJ92F6JON' 'USED' 'SLJ62S194C' 'SLK96UO2WF' 'SLK36W3VV5'
 'SLK86RV7Y8' 'SLK874K4TO']

STATUS has 8 number of unique items which are: ['PAID' ' PAID' nan 'NOT PAID' 'UNPAID' 'SERVICE INCLUSIVE'
 'OFFICE(UNPAID)' 'OFFICE (UNPAID)' 'OFFICE']

BALANCE has 15 number of unique items which are: [nan '    ' '400' '1,000.00' '300' '600' '700' '500' '900' '200'
 '5,500.00' '2,000.00' 'Mutua' 'Paybill' 'Service Inclusive'
 'Service IInclusive']

ADDITIONAL SERVICE has 14 number of unique items which are: [nan 'SERVICE INCLUSIVE' 'SEATS WASH ' 'OUTSIDE ONLY' 'FOOD'
 'CARPET WASHING' 'RIM RESTORATION' 'INTERIOR CLEANING' 'COMPOUND WASH'
 'INTERIOR WASH' 'INTERIOR WASH(REPEATE WITH DECREASER)'
 'INTERIOR FITTINGS(ANTHONY)' 'HEADLIGHT RESTORATION' 'FOREIGN AFFAIRS'
 'WATER MARK REMOVAL(FOREIGN AFFAIRS)']

RESPONSIBILITY has 27 number of unique items which are: [nan 'STEVE' 'ANTHONY' 'SERVICE INCLUSIVE' 'FREE SERVICE' 'EVA' 'GORDON'
 'OWNER' 'BOOSTED' 'EVA ' 'ASK ANTHONY FOR PRICING' 'ANTHONY '
 'STEVE/MUTUA' 'MUTUA' 'FOREIGN AFFAIRS' 'GORDON(SHARON)' 'BOOSTED(MUTUA)'
 'MUTUA(SERVICE INCLUSIVE)' 'MUTUA(neighbor)' 'MUTUA(CK)' 'MUTUA(ANTHONY)'
 'STEVE(SERVICE INCLUSIVE)' 'MUTUA(BOOSTED)' 'MUTUA (CK)' 'ANTONY' 'FELIX'
 'RAEL' 'OFFICE']

NORMAL has 6 number of unique items which are: [nan 'Gordon paid was used for food purchase' 'WRITE OFF' 'ASSET RECOVERY'
 'WRITE OFFS' 'CORPORATE' 'ANTHONY RECEIVED CASH']

Model has 139 number of unique items which are: ['COLT' 'FORRESTER' 'LEXUS' 'ISUZU' 'BENZ' 'PRADO' 'FORD' 'BMW' 'HONDA'
 'SUBARU' 'MAZDA' 'FIELDER' 'VITS' 'OUTBACK' 'TIGUAN' 'FUSO' 'VOXY' 'WISH'
 'TOYOTA' 'CRUISER' 'NOTE' 'MERCEDES' 'CRV' 'LAND' 'ALPHARD' 'VOLKSWAGEN'
 'WRX' 'LANCER' 'PREMIO' 'MIRAGE' 'LANDCRUISER' 'CROWN' 'HILUX' 'AXIO'
 'VOLKS' 'RAV4' 'HARRIER' 'nan' 'HYUNDAI' 'DISCOVERY' 'COROLLA' 'DEMIO'
 'PASSAT' 'AUDI' 'CX5' 'IMPREZZA' 'V8' 'VW' 'ALLION' 'FORESTER' 'IMPREZA'
 'AXELA' 'MARCH' 'R' 'HORICE' 'X6' 'STARLET' 'TUAREG' 'RAV' 'GDI' 'GOLF'
 'INSIGHT' 'ISIS' 'POLO' 'FRH' 'MITSUBISHI' 'NUTZ' 'VAN' 'PLATZ' 'PRIMIO'
 'FILDER' 'L' 'TEANA' 'NISSAN' 'COLTT' 'SUCCEED' 'HEADERS' 'DUALIS' 'MARK'
 'RANGE' 'CUBE' 'NOAH' 'RUNX' 'MERCEDESBENZ' 'VOLVO' 'VANGUARD' 'JEEP'
 'ROVER' 'PAJERO' 'RANGEROVER' 'CARRINA' 'ALFAROMEO' 'LEGACY' 'FORESSTER'
 'SIENTA' 'CORONA' 'NAVARA' 'IST' 'DEMIOSK48JHIWOI' 'HIACE' 'PREMO'
 'BELTA' 'VITZ' 'RACTIX' 'POLLO' 'H' 'Landcruiser' 'Subaru' 'Audi' 'Hilux'
 'Noah' 'Premo' 'Forester' 'Benz' 'Toyota' 'Nissan' 'Mazda' 'Colt' 'Mark'
 'Landrover' 'Ford' 'Axela' 'Lancer' 'Vitz' 'Demio' 'Golf' 'Premio'
 'Suzuki' 'Honda' 'Toureg' 'Swift' 'Polo' 'Harrier' 'Allion' 'Isuzu'
 'Discovery' 'Galant' 'Mercedes' 'Lexus']

car_reg has 387 number of unique items which are: ['KCY 688Y' 'KAY 419' 'KCH 178G' 'KDL 274X' 'KBA 128G' 'KDB 647W'
 'KAV 198Z' 'KDG 966E' 'KDH 544M' 'KCW 966Q' 'KCC 211R' 'KDQ 604R'
 'KBZ 782S' 'KBD 059D' 'KAE 590G' 'KDD 448E' 'KDA 598A' 'KDE 814U'
 'KBZ 417H' 'GKB 001H' 'KCF 684F' 'KDG 068B' 'KCW 419H' 'KCW 404'
 'KCH 155U' 'KCY 269F' 'KDH 177A' 'KDH 054G' 'KCR 330R' 'KCV 005X'
 'KDH 544H' 'KDP 325T' 'KDQ 600T' 'KDL 280Q' 'KBY 637S' 'KDQ 498X'
 'KAZ 559K' 'KDK 305V' 'KCH 178C' 'KCY 688F' 'KDC 082' 'KCN 419F'
 'KDC 966E' 'KDG 006B' 'KCJ 499K' 'KCV 989S' 'KCZ 941L' 'KCL 133P'
 'KBW 486R' 'KCX 044X' 'KCM 440C' 'KCW 387X' 'KCZ 432E' 'KCR 340X'
 'KBM 510F' 'KCH 619H' 'KCS 133E' 'KBQ 300A' 'KDD 561B' 'KCE 198Y'
 'KBQ 498' 'KCA 298' 'KBZ 286W' 'KCP 836P' 'KDH 177N' 'KBK 140N'
 'KDQ 245C' 'KAT 289N' 'KDG 982X' 'KBZ 050U' 'KBX 580Q' 'KAK 542Q'
 'KDP 018H' 'KCH 344D' 'KDG 350Q' 'KDM 367T' 'KAQ 985G' 'KDG 082B'
 'KCV 344G' 'KCG 369B' 'KDH 051H' 'KBG 520N' 'nan nan' 'KCD 921T'
 'KCP 684T' 'KCN 491F' 'KDN 047Z' 'KDL 100D' 'KBA 106' 'KDH 717' 'KCY 688'
 'KAK 552Q' 'KAW 433D' 'KBZ 479A' 'KDB 501Z' 'KAY 340S' 'KBK 140M'
 'KCW 996F' 'KCD 088P' 'KCA 320A' 'GKA 955R' 'KCR 330Z' 'KAQ 404U'
 'KCZ 974A' 'KBW 792A' 'KCG 233B' 'KDP 847W' 'KCH 834Q' 'KCX 655G'
 'KDJ 599R' 'KDG 006P' 'KDN 304C' 'KAU 337N' 'KDM 590U' 'KCM 193A'
 'KCN 001Y' 'KCP 660L' 'KDA 747D' 'KBA 201B' 'KDG 066B' 'KCS 388F'
 'KBN 587P' 'KCV 689K' 'KBC 216Y' 'KDH 077A' 'KDQ 340X' 'KCW 436F'
 'KDJ 456A' 'KDB 194J' 'KBQ 393X' 'KDG 350' 'KDL 240Q' 'KCS 349K'
 'KCZ 591' 'KCW 917T' 'KCC 772Q' 'KDJ 988Z' 'KDJ 513' 'KCG 474F'
 'KCL 474E' 'KBN 200D' 'KBP 790A' 'KDH 199A' 'GKB 985D' 'KDC 082B'
 'KCN 491E' 'KAH 435J' 'KDA 588W' 'KBG 297R' 'KBZ 237C' 'KAG 437X'
 'KCT 046J' 'KCR 110U' 'KCU 671D' 'KDP 970K' 'KBV 036X' 'KCH 717K'
 'KDD 614Z' 'KDR 997A' 'KCY 685T' 'KDH 054M' 'KDG 720P' 'KCC 251P'
 'KAM 664N' 'KDD 711Q' 'KDN 944E' 'KDM 265Q' 'KCT 585A' 'KCY 326F'
 'KBT 961P' 'GKB 467V' 'KCG 369' 'KBD 092D' 'KAE 190' 'KBM 617B'
 'KDQ 722K' 'KCC 251R' 'KCP 254Q' 'KDH 410T' 'KDG 604R' 'GKA 106T'
 'KCW 989S' 'KDG 379H' 'KBQ 128R' 'KAE 590C' 'GKA 122T' 'KDM 208G'
 'KBI 178H' 'KCH 674C' 'KCF 500H' 'KCF 228G' 'KAU 437N' 'KCJ 221Z'
 'KDM 384R' 'KDP 911E' 'KBZ 052W' 'KDE 980V' 'KUU 111' 'KBX 273Y'
 'KDP 330S' 'KAX 577J' 'KDE 003J' 'KCW 404X' 'KCY 688T' 'KCG 369V'
 'KDQ 379H' 'KDH 177M' 'KBM 458Z' 'KBW 240R' 'KDN 384R' 'KDD 161P'
 'BLOCK AND' 'KCQ 395H' 'KCX 493F' 'KCJ 368R' 'KCW 966F' 'KBJ 368Q'
 'KAH 095C' 'KDH 746M' 'KCU 106U' 'KCZ 942T' 'KDK 555D' 'KBP 160T'
 'KDK 066W' 'GKA 196R' 'KDN 490J' 'KCJ 061L' 'KBV 667U' 'KBF 538D'
 'KCT 046L' 'KAM 846E' 'KAK 788P' 'KDE 956R' 'KBR 156V' 'KCU 570V'
 'KAT 111T' 'KDM 778P' 'KBY 727Y' 'KBQ 160T' 'KCG 896M' 'KCW 016Z'
 'KDG 966C' 'KBM RANGE' 'KDP 819H' 'KDG 264' '0422AC 07' 'KCE 330R'
 'KBW 845T' 'SSD SSD' 'KCC 305B' 'KDN 025H' 'KBH 345F' 'KDK 305L'
 'KDL 430G' 'KAQ 323U' 'KAJ 095W' 'KBT 377P' 'KCD 434M' 'KCD 385F'
 'KBR 157V' 'KCR 006K' 'KBM 626V' 'KCS 337D' 'KDQ 731F' 'KCT 339L'
 'KBE 663M' 'KBR 338E' 'KAV 859P' 'KCF 001G' 'KDH 383Y' 'KAX 577S'
 'KBJ 632A' 'KCW 585P' 'GK 122T' 'KCS 686M' 'KDA 781S' 'KDC 966F'
 'GKB 619G' 'KCC 200G' 'KDL 213N' 'KDP 574D' 'KBT 316V' 'KCD 719K'
 'KDL 072G' 'KDH 211N' 'KDR 709N' 'KDC 292U' 'KAY 456B' 'KDP 427F'
 'KCQ 019B' 'KDA 200K' 'KBS 154M' 'KBS 149M' 'KAU 240J' 'KDP 572M'
 'KDD 341W' 'KDP 268Z' 'KBJ 632D' 'KAQ 455E' 'KCW 377M' 'KCW 900T'
 'KDL 088Q' 'KCZ 825A' 'KDD 966E' 'KDP 550M' 'KCE 847M' 'KCQ 320Q'
 'KDJ 124K' 'KBN 130L' 'KCZ 819A' 'KBW 225J' 'KCG 214P' 'KBZ 286'
 'KDJ 190Y' 'KBR 157Y' 'KDH746M SUBARU' 'KDN 400B' 'KCH 665L' 'KCA 321G'
 'KDJ 476K' 'KDR 723A' 'KDR 709' 'KDE 905X' 'KDA 779J' 'KCU 269F'
 'KBP 139L' '1460AF 08' 'KBZ 270W' 'KBW 260Z' 'KAJ 546B' 'KBP 296C'
 'KDP 410B' 'KDD 996E' 'KCC 807' 'KCY 713A' 'KAK 543Q' 'KDP 115T'
 'KBP 134L' 'KBW 667G' 'KCD 696C' 'KCN 037X' 'KDN 055C' 'KCS 807V'
 'KDH 278H' 'KDB 286J' 'KBV 304U' 'KDR 788T' 'KCV 727X' 'KDP 524D'
 'KDA 193G' 'KCY 688E' 'KBW 607G' 'KCU 784A' 'KDC 619S' 'KDG 264W'
 'KCX 170N' 'KCZ 555V' 'KBD 478Q' 'KDG 312E' 'KDR 997H' 'KDR 414U'
 'LR17 UPJ' 'KCJ 107P' 'KBJ 632J' 'KCA 781C' 'KCC 789A' 'KCU 308S'
 'KBV 528V' 'KCV 182H' 'KBR 996N' 'KBT 139R' 'KAY 700N' 'KD 0889'
 'KDJ 274X' 'KCK 110U' 'KDP 775G' 'KDC 008V' 'KCA 839N' 'KDJ 977L'
 'KDQ 350Q' 'KDR 778T' 'KDR 298Y' 'KCB 087X' 'KDK 570C' 'KCL 680Y'
 'KBA 128C' 'KDN 093D']

In [ ]:
'''
'PAID' ' PAID' nan 'NOT PAID' 'UNPAID' 'SERVICE INCLUSIVE' 'OFFICE(UNPAID)' 'OFFICE (UNPAID)' 'OFFICE'
'''
car_wash_1['STATUS'][car_wash_1['STATUS']==' PAID']='PAID'
car_wash_1['STATUS'][car_wash_1['STATUS']=='NOT PAID']='UNPAID'
car_wash_1['STATUS'][car_wash_1['STATUS']=='OFFICE(UNPAID)']='OFFICE'
car_wash_1['STATUS'][car_wash_1['STATUS']=='OFFICE (UNPAID)']='OFFICE'
car_wash_1['STATUS'].fillna('UNPAID', inplace=True)

In [ ]:
car_wash_1['STATUS'].unique()

array(['PAID', 'UNPAID', 'SERVICE INCLUSIVE', 'OFFICE'], dtype=object)

In [ ]:
# Input lists
supposed_service = [
    'NORMAL WASH', 'BODY WASH', 'CARPET WASH', 'WASH AND ENGINE',
    'WASH AND VACUUM AND ENGINE', 'WASH AND VACUUM', 'ENGINE WATER WASH',
    'ENGINE STEAM WASH', 'VACUUM', 'UNDER WASH', 'RIM POLISH', 'TIRE POLISH',
    'SEAT CLEANING AND NORMAL WASH', 'CARPET WASH', 'BODY WASH',
    'SERVICE INCLUSIVE', 'SEAT WASH', 'INTERIOR WASH'
]

typed_service = ['WASH AND VACUUM', 'NORMAL WASH', 'ENGINE WATER WASH',
 'WASH AND VACUUM AND ENGINE', 'WASH AND ENGINE', None, 'RIM POLISH',
 'CARPET WASH', 'BODY WASH', 'BODY WASH & VACUUM', 'ENGINE WASH',
 'BODYWASH & ENGINE', 'BODY & ENGINE WASH', 'VACUUM & BODY WASH',
 'WASH & VACUUM', 'WASH, VACUUM & ENGINE', 'WASH & ENGINE', 'RIM WASH']
# Clean and match
matched_services = [service for service in typed_service if service in supposed_service]

# Output the matched services
print("Matched Services: \n", matched_services)

Matched Services:
 ['WASH AND VACUUM', 'NORMAL WASH', 'ENGINE WATER WASH', 'WASH AND VACUUM AND ENGINE', 'WASH AND ENGINE', 'RIM POLISH', 'CARPET WASH', 'BODY WASH']

In [ ]:
car_wash_1['SERVICE'].isnull().sum()

5

In [ ]:
car_wash_1['SERVICE'][car_wash_1['SERVICE']==' PAID']='PAID'
car_wash_1['SERVICE'][car_wash_1['SERVICE']=='BODY WASH & VACUUM']='WASH AND VACUUM'
car_wash_1['SERVICE'][car_wash_1['SERVICE']=='VACUUM & BODY WASH',]='WASH AND VACUUM'
car_wash_1['SERVICE'][car_wash_1['SERVICE']=='WASH, VACUUM & ENGINE']='WASH AND VACUUM AND ENGINE'
car_wash_1['SERVICE'][car_wash_1['SERVICE']=='WASH & VACUUM']='WASH AND VACUUM'
car_wash_1['SERVICE'][car_wash_1['SERVICE']=='BODY & ENGINE WASH']='WASH AND ENGINE'
car_wash_1['SERVICE'][car_wash_1['SERVICE']=='BODYWASH & ENGINE']='WASH AND ENGINE'
car_wash_1['SERVICE'][car_wash_1['SERVICE']=='ENGINE WATER WASH']='ENGINE WASH'
car_wash_1['SERVICE'][car_wash_1['SERVICE']=='ENGINE STEAM WASH']='ENGINE WASH'
car_wash_1['SERVICE'][car_wash_1['SERVICE']=='WASH & ENGINE']='WASH AND ENGINE'
car_wash_1['SERVICE'].fillna('NONE', inplace=True)

In [ ]:
car_wash_1['SERVICE'].isnull().sum()

0

In [ ]:
car_wash_1['SERVICE'].unique()

array(['WASH AND VACUUM', 'NORMAL WASH', 'ENGINE WASH',
       'WASH AND VACUUM AND ENGINE', 'WASH AND ENGINE', 'NONE',
       'RIM POLISH', 'CARPET WASH', 'BODY WASH', 'RIM WASH'], dtype=object)

In [ ]:
car_wash_1['ADDITIONAL SERVICE'].fillna('NONE', inplace=True)
car_wash_1['ADDITIONAL SERVICE'].unique()

array(['NONE', 'SERVICE INCLUSIVE', 'SEATS WASH ', 'OUTSIDE ONLY', 'FOOD',
       'CARPET WASHING', 'RIM RESTORATION', 'INTERIOR CLEANING',
       'COMPOUND WASH', 'INTERIOR WASH',
       'INTERIOR WASH(REPEATE WITH DECREASER)',
       'INTERIOR FITTINGS(ANTHONY)', 'HEADLIGHT RESTORATION',
       'FOREIGN AFFAIRS', 'WATER MARK REMOVAL(FOREIGN AFFAIRS)'],
      dtype=object)

In [ ]:
'''
[nan 'STEVE' 'ANTHONY' 'SERVICE INCLUSIVE' 'FREE SERVICE' 'EVA' 'GORDON'
 'OWNER' 'BOOSTED' 'EVA ' 'ASK ANTHONY FOR PRICING' 'ANTHONY '
 'STEVE/MUTUA' 'MUTUA' 'FOREIGN AFFAIRS' 'GORDON(SHARON)' 'BOOSTED(MUTUA)'
 'MUTUA(SERVICE INCLUSIVE)' 'MUTUA(neighbor)' 'MUTUA(CK)' 'MUTUA(ANTHONY)'
 'STEVE(SERVICE INCLUSIVE)' 'MUTUA(BOOSTED)' 'MUTUA (CK)' 'ANTONY' 'FELIX'
 'RAEL' 'OFFICE']
'''
car_wash_1['RESPONSIBILITY'][car_wash_1['RESPONSIBILITY']=='STEVE/MUTUA']='STEVE'
car_wash_1['RESPONSIBILITY'][car_wash_1['RESPONSIBILITY']=='ANTHONY ']='ANTHONY'
car_wash_1['RESPONSIBILITY'][car_wash_1['RESPONSIBILITY']=='ANTONY']='ANTHONY'
car_wash_1['RESPONSIBILITY'][car_wash_1['RESPONSIBILITY']=='ASK ANTHONY FOR PRICING']='ANTHONY'
car_wash_1['RESPONSIBILITY'][car_wash_1['RESPONSIBILITY']=='EVA ']='EVA'
car_wash_1['RESPONSIBILITY'][car_wash_1['RESPONSIBILITY']=='STEVE(SERVICE INCLUSIVE)']='SERVICE INCLUSIVE'
car_wash_1['RESPONSIBILITY'][car_wash_1['RESPONSIBILITY']=='GORDON(SHARON)']='GORDON'
car_wash_1['RESPONSIBILITY'][car_wash_1['RESPONSIBILITY']=='MUTUA(SERVICE INCLUSIVE)']='SERVICE INCLUSIVE'
car_wash_1['RESPONSIBILITY'][car_wash_1['RESPONSIBILITY']=='MUTUA(neighbor)']='MUTUA'
car_wash_1['RESPONSIBILITY'][car_wash_1['RESPONSIBILITY']=='MUTUA(CK)']='MUTUA'
car_wash_1['RESPONSIBILITY'][car_wash_1['RESPONSIBILITY']=='MUTUA(ANTHONY)']='MUTUA'
car_wash_1['RESPONSIBILITY'][car_wash_1['RESPONSIBILITY']=='MUTUA (CK)']='MUTUA'
car_wash_1['RESPONSIBILITY'][car_wash_1['RESPONSIBILITY']=='BOOSTED(MUTUA)']='BOOSTED'
car_wash_1['RESPONSIBILITY'][car_wash_1['RESPONSIBILITY']=='MUTUA(BOOSTED)']='BOOSTED'
car_wash_1['RESPONSIBILITY'].fillna('NONE', inplace=True)
car_wash_1['RESPONSIBILITY'].unique()

array(['NONE', 'STEVE', 'ANTHONY', 'SERVICE INCLUSIVE', 'FREE SERVICE',
       'EVA', 'GORDON', 'OWNER', 'BOOSTED', 'MUTUA', 'FOREIGN AFFAIRS',
       'FELIX', 'RAEL', 'OFFICE'], dtype=object)

In [ ]:
car_wash_1['CODE'].astype(str)
#re.sub('\ASL', 'MPESA', car_wash_1['CODE'])
car_wash_1['CODE'][car_wash_1['CODE']=='USED']='MPESA'
to_replace=['SL11SC2G7B', 'SL19TMSPO1', 'SL26YB4FFM',
       'SL23XMNRVH', 'SL29X7OTCJ', 'SL27XN907Z', 'SL20Y1WW06',
       'SL405945F2', 'SL303CTYWK', 'SL313M1HSZ', 'SL56CGTLYO',
       'SL487KMH5W', 'SL599UBGLR', 'SL54AE3M9Q', 'SL52BJFESA',
       'SL50BS1C3U', 'SL58CAWGV2', 'SL68FUFKIU', 'SL79IVZL81',
       'SL79JX7029', 'SL79KIQ18L', 'SLC16HP0JT', 'SL73JA1931',
       'SL73KHVFMX', 'SL73KQI2L1', 'SL72LGYIEY', 'SL79LBO0P3',
       'SLA7VYSWEB', 'SL97TBXKY5', 'SL94U7ASYU', 'SL94TYW2WK',
       'SLB91L3QOJ', 'SLA9XRUFQN', 'SLA9XU3OWR', 'SLA0YHLZ26',
       'SLB61KK31Q', 'SLD4DG5V54', 'SLC567CVX1', 'SLB945BL3P',
       'SLB63MA0JC', 'SLC76J3QXF', 'SLC67DACRW', 'SLC28CCZZK',
       'SLC67ZUKL8', 'SLC48C6EYA', 'SLC37QOLI7', 'SLC87KT4YO',
       'SLD5B7C89X', 'SLB74JQTVD', 'SLE1ETHOY3 ', 'SLE8F7W49Q',
       'SLE6FJK250', 'SLH3RUUBVJ', 'SLE1G6SHBX', 'SLE4GQVYJ8',
       'SLE2GQ0V0O', 'SLE2GZFU42', 'SLE9GQF9MV', 'SLJ4ZYSO8A',
       'SLHIRRGNUX', 'SLH9S99ZD5', 'SLH3T08XKX', 'SLH5SZZ2CD',
       'SLI4X85NVO', 'SLJ92F6JON', 'SLJ62S194C', 'SLK96UO2WF',
       'SLK36W3VV5', 'SLK86RV7Y8', 'SLK874K4TO']
car_wash_1['CODE']=car_wash_1['CODE'].replace(to_replace, 'MPESA')
car_wash_1['CODE'][car_wash_1['CODE']=='INVOICED']='BANK'
car_wash_1['CODE'].fillna('WRITTEN OFF', inplace=True)

In [ ]:
car_wash_1['CODE'].unique()

array(['MPESA', 'CASH', 'WRITTEN OFF', 'BANK'], dtype=object)

In [ ]:
car_wash_1['CODE'].isnull().sum()

0

In [ ]:
model=['COLT', 'FORRESTER', 'LEXUS', 'ISUZU', 'BENZ', 'PRADO', 'FORD',
       'BMW', 'HONDA', 'SUBARU', 'MAZDA', 'FIELDER', 'VITS', 'OUTBACK',
       'TIGUAN', 'FUSO', 'VOXY', 'WISH', 'TOYOTA', 'CRUISER', 'NOTE',
       'MERCEDES', 'CRV', 'LAND', 'nan', 'ALPHARD', 'VOLKSWAGEN', 'WRX',
       'LANCER', 'PREMIO', 'MIRAGE', 'LANDCRUISER', 'CROWN', 'HILUX',
       'AXIO', 'VOLKS', 'RAV4', 'HARRIER', 'HYUNDAI', 'DISCOVERY',
       'COROLLA', 'DEMIO', 'PASSAT', 'AUDI', 'CX5', 'IMPREZZA', 'V8',
       'VW', 'ALLION', 'FORESTER', 'IMPREZA', 'AXELA', 'MARCH', 'R',
       'HORICE', 'X6', 'STARLET', 'TUAREG', 'RAV', 'GDI', 'GOLF',
       'INSIGHT', 'ISIS', 'POLO', 'FRH', 'MITSUBISHI', 'NUTZ', 'VAN',
       'PLATZ', 'PRIMIO', 'FILDER', 'L', 'TEANA', 'NISSAN', 'COLTT',
       'HEADERS', 'DUALIS', 'MARK', 'RANGE', 'CUBE', 'NOAH', 'RUNX',
       'MERCEDESBENZ', 'VOLVO', 'VANGUARD', 'JEEP', 'PAJERO',
       'RANGEROVER', 'CARRINA', 'ALFAROMEO', 'LEGACY', 'FORESSTER',
       'SIENTA', 'CORONA', 'NAVARA', 'IST', 'DEMIOSK48JHIWOI', 'HIACE',
       'PREMO', 'BELTA', 'VITZ', 'RACTIX', 'POLLO', 'H', 'Landcruiser',
       'Subaru', 'Audi', 'Hilux', 'Noah', 'Premo', 'Forester', 'Benz',
       'Toyota', 'Nissan', 'Mazda', 'Colt', 'Mark', 'Landrover', 'Ford',
       'Axela', 'Lancer', 'Vitz', 'Demio', 'Golf', 'Premio', 'Suzuki',
       'Honda', 'Toureg', 'Swift', 'Polo', 'Harrier', 'Allion', 'Isuzu',
       'Discovery', 'Galant', 'Mercedes', 'Lexus']


car_wash_1['Model'][car_wash_1['Model']=='Mercedes']='MERCEDES BENZ'
car_wash_1['Model'][car_wash_1['Model']=='MERCEDESBENZ']='MERCEDES BENZ'
car_wash_1['Model'][car_wash_1['Model']=='DEMIOSK48JHIWOI']='DEMIO'
car_wash_1['Model'][car_wash_1['Model']=='MERCEDES']='MERCEDES BENZ'
car_wash_1['Model'][car_wash_1['Model']=='Benz']='MERCEDES BENZ'
car_wash_1['Model'][car_wash_1['Model']=='CROWN']='CROWN'
car_wash_1['Model'][car_wash_1['Model']=='RACTIX']='RACTIS'
car_wash_1['Model'][car_wash_1['Model']=='FILDER']='FIELDER'
car_wash_1['Model'][car_wash_1['Model']=='FRH']='FORD RANGER'
car_wash_1['Model'][car_wash_1['Model']=='Harrier']='TOYOTA HARRIER'
car_wash_1['Model'][car_wash_1['Model']=='Subaru']='SUBARU'
car_wash_1['Model'][car_wash_1['Model']=='RANGE']='RANGEROVER'
car_wash_1['Model'][car_wash_1['Model']=='L']='LEXUS'
car_wash_1['Model'][car_wash_1['Model']=='Lexus']='LEXUS'
car_wash_1['Model'][car_wash_1['Model']=='COLT']='MTISUBISHI COLT'
car_wash_1['Model'][car_wash_1['Model']=='Colt']='MTISUBISHI COLT'
car_wash_1['Model'][car_wash_1['Model']=='COLTT']='MTISUBISHI COLT'
car_wash_1['Model'][car_wash_1['Model']=='RAV4']='TOYOTA RAV4'
car_wash_1['Model'][car_wash_1['Model']=='RAV']='TOYOTA RAV4'
car_wash_1['Model'][car_wash_1['Model']=='GDI']='MITSUBISHI GDI'
car_wash_1['Model'][car_wash_1['Model']=='INSIGHT']='HONDA INSIGHT'
car_wash_1['Model'][car_wash_1['Model']=='Honda']='HONDA'
car_wash_1['Model'][car_wash_1['Model']=='Demio']='DEMIO'
car_wash_1['Model'][car_wash_1['Model']=='DEMIO']='DEMIO'
car_wash_1['Model'][car_wash_1['Model']=='PREMO']='PREMIO'
car_wash_1['Model'][car_wash_1['Model']=='Premio']='PREMIO'
car_wash_1['Model'][car_wash_1['Model']=='Premo']='PREMIO'
car_wash_1['Model'][car_wash_1['Model']=='PRIMIO']='PREMIO'
car_wash_1['Model'][car_wash_1['Model']=='Discovery']='LANDROVER DISCOVERY'
car_wash_1['Model'][car_wash_1['Model']=='DISCOVERY']='LANDROVER DISCOVERY'
car_wash_1['Model'][car_wash_1['Model']=='Landrover']='LANDROVER DISCOVERY'
car_wash_1['Model'][car_wash_1['Model']=='LAND']='LANDROVER DISCOVERY'
car_wash_1['Model'][car_wash_1['Model']=='FORRESTER']='FORESTER'
car_wash_1['Model'][car_wash_1['Model']=='FORESSTER']='FORESTER'
car_wash_1['Model'][car_wash_1['Model']=='Forester']='FORESTER'
car_wash_1['Model'][car_wash_1['Model']=='VITS']='VITZ'
car_wash_1['Model'][car_wash_1['Model']=='Vitz']='VITZ'
car_wash_1['Model'][car_wash_1['Model']=='Polo']='VW POLO'
car_wash_1['Model'][car_wash_1['Model']=='POLLO']='VW POLO'
car_wash_1['Model'][car_wash_1['Model']=='VOLKSWAGEN']='VW'
car_wash_1['Model'][car_wash_1['Model']=='VOLKS']='VW'
car_wash_1['Model'][car_wash_1['Model']=='Ford']='FORD'
car_wash_1['Model'][car_wash_1['Model']=='Noah']='Noah'
car_wash_1['Model'][car_wash_1['Model']=='Isuzu']='ISUZU'
car_wash_1['Model'][car_wash_1['Model']=='Golf']='GOLF'
car_wash_1['Model'][car_wash_1['Model']=='Nissan']='NISSAN'
car_wash_1['Model'][car_wash_1['Model']=='Toyota']='TOYOTA'
car_wash_1['Model'][car_wash_1['Model']=='Landcruiser']='LANDCRUISER'
car_wash_1['Model'][car_wash_1['Model']=='CRUISER']='LANDCRUISER'
car_wash_1['Model'][car_wash_1['Model']=='Allion']='ALLION'
car_wash_1['Model'][car_wash_1['Model']=='Hilux']='HILUX'
car_wash_1['Model'][car_wash_1['Model']=='V8']='LANDCRUISER'
car_wash_1['Model'][car_wash_1['Model']=='IMPREZZA']='IMPREZA'
car_wash_1['Model'][car_wash_1['Model']=='Mazda']='MAZDA'
car_wash_1['Model'][car_wash_1['Model']=='Audi']='AUDI'
car_wash_1['Model'][car_wash_1['Model']=='Axela']='AXELA'

In [ ]:
print(car_wash_1['Model'].nunique())
car_wash_1['Model'].unique()

96

array(['MTISUBISHI COLT', 'FORESTER', 'LEXUS', 'ISUZU', 'BENZ', 'PRADO',
       'FORD', 'BMW', 'HONDA', 'SUBARU', 'MAZDA', 'FIELDER', 'VITZ',
       'OUTBACK', 'TIGUAN', 'FUSO', 'VOXY', 'WISH', 'TOYOTA',
       'LANDCRUISER', 'NOTE', 'MERCEDES BENZ', 'CRV',
       'LANDROVER DISCOVERY', 'ALPHARD', 'VW', 'WRX', 'LANCER', 'PREMIO',
       'MIRAGE', 'CROWN', 'HILUX', 'AXIO', 'TOYOTA RAV4', 'HARRIER',
       'nan', 'HYUNDAI', 'COROLLA', 'DEMIO', 'PASSAT', 'AUDI', 'CX5',
       'IMPREZA', 'ALLION', 'AXELA', 'MARCH', 'R', 'HORICE', 'X6',
       'STARLET', 'TUAREG', 'MITSUBISHI GDI', 'GOLF', 'HONDA INSIGHT',
       'ISIS', 'POLO', 'FORD RANGER', 'MITSUBISHI', 'NUTZ', 'VAN',
       'PLATZ', 'TEANA', 'NISSAN', 'SUCCEED', 'HEADERS', 'DUALIS', 'MARK',
       'RANGEROVER', 'CUBE', 'NOAH', 'RUNX', 'VOLVO', 'VANGUARD', 'JEEP',
       'ROVER', 'PAJERO', 'CARRINA', 'ALFAROMEO', 'LEGACY', 'SIENTA',
       'CORONA', 'NAVARA', 'IST', 'HIACE', 'BELTA', 'RACTIS', 'VW POLO',
       'H', 'Noah', 'Mark', 'Lancer', 'Suzuki', 'Toureg', 'Swift',
       'TOYOTA HARRIER', 'Galant'], dtype=object)

In [ ]:
car_wash_1['AMOUNT']=car_wash_1['AMOUNT'].astype(float)
car_wash_1['BALANCE']=car_wash_1['BALANCE'].astype(float)

ValueError: could not convert string to float: '1,000.00'

In [ ]:
car_wash.fillna(method='', inplace=True, axis=)

In [ ]:
car_wash_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   level_0             741 non-null    int64
 1   index               741 non-null    int64
 2   DATE                741 non-null    object
 3   SERVICE             741 non-null    object
 4   AMOUNT              672 non-null    object
 5   CODE                741 non-null    object
 6   STATUS              741 non-null    object
 7   BALANCE             80 non-null     object
 8   ADDITIONAL SERVICE  741 non-null    object
 9   RESPONSIBILITY      366 non-null    object
 10  NORMAL              19 non-null     object
 11  Model               741 non-null    object
 12  car_reg             741 non-null    object
dtypes: int64(2), object(11)
memory usage: 75.4+ KB

In [ ]:
car_wash_1

,index,DATE,SERVICE,AMOUNT,CODE,STATUS,BALANCE,ADDITIONAL SERVICE,RESPONSIBILITY,NORMAL,Model,car_reg
0,0,09/08/2024,WASH AND VACUUM,600,MPESA,PAID,NaN,NaN,NaN,NaN,MTISUBISHI COLT,KCY 688Y
1,1,09/08/2024,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN,FORESTER,KAY 419
2,2,09/08/2024,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN,LEXUS,KCH 178G
3,3,09/08/2024,NORMAL WASH,300,MPESA,PAID,NaN,NaN,NaN,NaN,ISUZU,KDL 274X
4,4,09/08/2024,WASH AND VACUUM,400,CASH,PAID,NaN,NaN,NaN,NaN,BENZ,KBA 128G
...,...,...,...,...,...,...,...,...,...,...,...,...
736,736,20.12.2024,NORMAL WASH,300.0,SLK86RV7Y8,PAID,NaN,NaN,NaN,NaN,FORESTER,KCL 680Y
737,737,20.12.2024,NORMAL WASH,300.0,SLK874K4TO,PAID,NaN,NaN,NaN,NaN,NISSAN,KCD 385F
738,738,20.12.2024,NORMAL WASH,300.0,NaN,NaN,NaN,NaN,NaN,NaN,MERCEDES BENZ,KBA 128C
739,739,20.12.2024,NORMAL WASH,300.0,NaN,NaN,NaN,NaN,NaN,NaN,ISUZU,KDN 093D
740,740,20.12.2024,NONE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GOLF,KCR 110U